.heroWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 3rem;
  font-size: clamp(3rem, 2.2rem + 3.5vw, 6rem);
  letter-spacing: 0.075ch;
  font-weight: 900;
}

.mdText {
  color: var(--text-primary);
  font-size: calc(24rem / 16);
}

.lgText {
  margin-top: 1rem;
  color: var(--text-primary);
  font-size: min(0.75rem + 2vw, 3.25rem);
  font-weight: 600;
}

.btn {
  background-color: transparent;
  color: var(--text-primary);
  font-weight: 500;
  margin-top: 3rem;
  padding: 1.25rem 1.75rem;
  width: fit-content;
  border-radius: 2px;
  border: 1px solid var(--text-secondary);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem hsla(0, 0%, 100%, 0.1);
  box-shadow: 0 1rem 2rem hsla(0, 0%, 100%, 0.1);
}

.btn:active,
.btn:focus {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem hsla(0, 0%, 100%, 0.1);
  box-shadow: 0 0.5rem 1rem hsla(0, 0%, 100%, 0.1);
}

@media (max-width: 768px) {
  .mdText {
    font-size: calc(20rem / 16);
  }

  .lgText {
    font-size: calc(1rem + 0.75vw);
  }
}

@media (max-width: 520px) {
  .mdText {
    font-size: calc(16rem / 16);
  }

  .lgText {
    font-size: calc(0.5rem + 1.25vw);
  }
}
