.mainWrapper {
  height: calc(100vh - var(--header-height));
}

.nameWrapper {
  height: 100%;
  display: grid;
  place-content: center;
}

.name {
  font-size: 2rem;
  font-size: clamp(2rem, 0.5rem + 9vw, 11rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  transform: translateY(-35%);
}
