.tilt {
  width: 100%;
  max-width: 250px;
}

.cardShadow {
  width: 100%;
  padding: 1px;
  border-radius: 20px;
  background-color: var(--bg-tertiary);
  box-shadow: 8px 8px 50px -10px hsl(248 30% 20%);
}

.cardContent {
  padding: 1rem 1.25rem;
  min-height: calc(280rem / 16);
  background-color: var(--bg-tertiary);
  display: grid;
  place-content: center;
  border-radius: 20px;
}

.interestText {
  font-size: calc(20rem / 16);
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .tilt {
    max-width: 200px;
  }

  .cardContent {
    min-height: calc(230rem / 16);
  }

  .interestText {
    font-size: calc(18rem / 16);
  }
}

@media (max-width: 480px) {
  .tilt {
    max-width: 140px;
  }

  .cardContent {
    min-height: calc(170rem / 16);
  }

  .interestText {
    font-size: calc(16rem / 16);
  }
}
