.background {
  background: url('/src/assets/herobg.png') center/cover no-repeat;
}

.headerWrapper {
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
  max-width: 80rem; /* 1280 */
  height: 100vh;
}

@media (max-width: 768px) {
  .headerWrapper {
    padding: 0.75rem 1.25rem;
  }
}
