.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  column-gap: 7rem;
  list-style-type: none;
}

.menu a {
  display: inline-block;
  color: var(--text-primary);
  font-size: calc(20rem / 16);
  font-weight: 500;
  text-decoration: none;
}
