.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  display: flex;
  column-gap: var(--items-gap);
  justify-content: space-around;
  list-style-type: none;
}

.menu a {
  display: inline-block;
  color: var(--text-primary);
  font-size: calc(20rem / 16);
  text-decoration: none;
}
