:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  --items-gap: 6rem;
  --padding: 5rem;
  --text-primary: hsl(180, 25%, 100%);
  --text-secondary: hsl(200, 25%, 70%);

  --bg-primary: hsl(220 60% 5%);
  --bg-secondary: hsl(250, 50%, 15%);
  --bg-tertiary: hsl(248, 20%, 70%);

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.mainWrapper {
  height: calc(100vh - var(--header-height));
}

.wrapper {
  padding: 0 4rem;
}

.sectionHeadText {
  color: var(--text-primary);
  font-size: calc(3rem + 1vw);
  font-weight: 900;
  letter-spacing: 0.05ch;
}

.sectionSubText {
  color: var(--text-secondary);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
}

.green-pink-gradient {
  background: hsl(170, 100%, 40%);
  background: linear-gradient(
    90deg,
    hsl(170, 100%, 40%) 2%,
    hsl(276, 100%, 70%) 98%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsl(170, 100%, 40%) 2%,
    hsl(276, 100%, 70%) 98%
  );
}
