:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  --items-gap: 6rem;
  --header-height: 4rem;
  --text-color: hsl(180, 24%, 96%);

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #050816;
  color: var(--text-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.mainWrapper {
  height: calc(100vh - var(--header-height));
}

.wrapper {
  padding: 0 4rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
