:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  --items-gap: 6rem;
  --padding: 5rem;
  --text-primary: hsl(20, 45%, 95%);
  --text-secondary: hsl(13, 30%, 80%);

  --bg-primary: hsl(240, 60%, 5%);
  --bg-secondary: hsl(250, 50%, 15%);
  --bg-tertiary: hsl(260, 40%, 25%);

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.wrapper {
  padding: 0 4rem;
}

.sectionHeadText {
  color: var(--text-primary);
  font-size: calc(3rem + 1vw);
  font-weight: 900;
  letter-spacing: 0.05ch;
}

.sectionSubText {
  color: var(--text-secondary);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
}

.overview {
  margin-top: 1.5rem;
  color: var(--text-secondary);
  font-size: calc(18rem / 16);
  max-width: 700px;
  letter-spacing: 0.5px;
}

.cardWrapper {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.green-pink-gradient {
  background: hsl(170, 100%, 40%);
  background: linear-gradient(
    90deg,
    hsl(170, 100%, 40%) 2%,
    hsl(276, 100%, 70%) 98%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsl(170, 100%, 40%) 2%,
    hsl(276, 100%, 70%) 98%
  );
}

.green-text-gradient {
  background: hsl(175, 80%, 40%);
  background: -webkit-linear-gradient(
    to top,
    hsl(175, 80%, 40%),
    hsl(140, 85%, 60%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    hsl(175, 80%, 40%),
    hsl(140, 85%, 60%)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  background: hsl(195, 87%, 66%);
  background: -webkit-linear-gradient(
    to top,
    hsl(214, 82%, 57%),
    hsl(195, 87%, 66%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    hsl(214, 82%, 57%),
    hwb(195 36% 4%)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: hsl(320, 100%, 50%);
  background: -webkit-linear-gradient(
    to top,
    hsl(320, 100%, 50%),
    hsl(0, 96%, 70%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    hsl(320, 100%, 50%),
    hsl(0, 96%, 70%)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
